@using NTierECommerce.MVC.Models.ViewModels;

@model UserRegisterVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div class="row mx-4">
    <div class="col-md-6">
        <div>
            <label asp-for="ID"></label>
            <input class="form-control" type="text" asp-for="@Model.ID" />
        </div>
        <div>
            <label asp-for="UserName"></label>
            <input class="form-control" type="text" asp-for="@Model.UserName" />
        </div>
        <div>
            <label asp-for="Email"></label>
            <input class="form-control" type="text" asp-for="@Model.Email" />
        </div>
        <div>
            <label asp-for="PhoneNumber"></label>
            <input class="form-control" type="text" asp-for="@Model.PhoneNumber" />
        </div>
        <div>
            <<label asp-for="Address"></label>
            <textarea class="form-control" type="text" asp-for="Address"></textarea>
        </div>
        
    </div>
</div>