@using NTierECommerce.MVC.Areas.Admin.Models.ViewModels;
@model CategoryVM
@{
    ViewData["Title"] = "Category Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Category Add</h1>


<div class="row mx-4">
    <div class="col-md-4">
        <div class="alert">
            @if (TempData["Error"] != null)
            {
                <span>@TempData["Error"]</span>
            }
        </div>
        <form method="post">
            <div>
                <label asp-for="CategoryName"></label>
                <span asp-validation-for="CategoryName" style="color:red;"></span>
                <input class="form-control" type="text" asp-for="CategoryName" />
            </div>
            <div>
                <label asp-for="Description"></label>
                <textarea class="form-control" type="text" asp-for="Description"></textarea>
            </div>
            <div class="form-check">
                <input asp-for="IsActive" value="false" class="form-check-input" type="radio" name="IsActive" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Pasif
                </label>
            </div>
            <div class="form-check">
                <input asp-for="IsActive" value="true" class="form-check-input" type="radio" name="IsActive" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Aktif
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Ekle</button>
        </form>
    </div>

</div>